@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.checkbox, .option-hotel, .sesion {
  display: none;
}

body {
  background: whitesmoke;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 8%;
  align-items: center;