@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
#maquina_escribir {
  color: #e3e3e3;
  font-size: 42px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #0f0;
}

#text {
  position: relative;
  font-size: 52px;
  letter-spacing: 2px;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
}

#text span {
  color: #555;
  transition: 0.25s;
}

#text:hover span {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}
