@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
#maquina_escribir {
  color: #e3e3e3;
  font-size: 42px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #0f0;
}
