.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  & img {
    height: 100%;
    object-fit: cover;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
