@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary: #6b5cff;
  --secondary: #181e4b;
  --fontW: #fff;
  --fontB: #000;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/Illustration\ 5Fondo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    justify-content: space-around;
    width: 100vw;
    display: flex;
    background: var(--primary);
    color: var(--fontW);
    & img {
      width: 50px;
    }
  }
}
