* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.bitlysdowssl-aws.com/wp-content/uploads/2023/08/Spacex.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
}
