@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.titulo {
  text-align: center;
  color: #061826;
  font-size: 26px;
  /* sombra */
  /* primer valor positivo a la derecha segundo valor positivo para abajo tercer valor difuminacion de la sombra */
  /* text-shadow: 2px 2px 2px #3685B5; */
  /* uppercase toda la letra en mayuscula */
  /* al colocar text-transform me salen las otras opciones */
  text-transform: initial;
  /* text-decoration: underline; */
}
.contenedor-tarjetas .tarjeta .contenido-tarjeta span {
  /* display: block; alinea los span del html en vertical */
  color: #061826;
  display: block;
}
.contenedor-tarjetas {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.contenedor-tarjetas .tarjeta:first-child {
  margin-right: auto;
}
.contenedor-tarjetas .tarjeta {
  /* mala practica no usar mayuscolas en los colores */
  box-shadow: 5px 5px 5px #3685b5, -5px -5px 5px #3685b5, 5px -5px 5px #3685b5,
    -5px 5px 5px #3685b5;
  padding: 20px;
  margin: 40px;
  text-align: center;
  border-radius: 20px;
  /* este comando me define el ancho respecto al contenido */
  /* width: max-content; */

  padding: 20px;
}

body {
  background: #89aae6;
}
h2 {
  color: #0471a6;
}
.contenedor-flex {
  display: flex;
  /* justificando el contenido horizontalmente en el centro */
  justify-content: center;
  /* justificando el contenido de forma que el espaciado sea siempre igual entre cajas y pegado a las esquinas */
  justify-content: space-between;
  /* justificando el contenido de forma separada de las esquinas y con el eje central siempre en la mitad de la pantalla  */
  justify-content: space-around;
  /* justificando el contenido de forma simetrica respecto espacios */
  justify-content: space-evenly;
  /* justificando al final, muestra primero el final */
  justify-content: flex-end;
  /* espaciado entre cajas */
  gap: 10px;
  /* hace que las cajas esten todas en la pantalla horizontamente */
  color: #fafafa;
  font-weight: 700;
  font-size: 24px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* invierte el orden de las cajas */
  flex-direction: row-reverse;
  /* ordena en columnas invertida */
  flex-direction: column-reverse;
  flex-direction: column;
}

.contenedor-flex .item {
  width: 100px;
  height: 50px;
  background: #3685b5;
  border: 10px solid #061826;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
